[{:arachne/name :kris/todoapp
  :arachne/inits ["config/todoapp.clj"]
  :arachne/dependencies [:org.arachne-framework/pedestal-assets
                         :org.arachne-framework/arachne-figwheel]}]
